#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:1200px;
  height:9000px;
  background-color: rgb(113, 128, 145);
  color: white;
  z-index: 10000000;
}
html {
  scroll-behavior:smooth;
}
.grid {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  height: 562.5px;
  background: rgb(79, 96, 134);
  color: white;
}
.grid__item {
  z-index: 500;
  left: 0px;
  top: -100px;
  border-radius: 5px;
  position: relative;
  height: 15px;
  width: 15px;
  background: white;
  opacity: 0;
  transition: opacity 2s ease 0.4s, transform 0.8s ease;
  transform: scale(1);
}
.grid__item:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
  transform: scale(1.04); 
}
.body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 80px;
  width: 1200px;
  margin: 40px;
}
.link{
  /* width:fit-content; */
  display: block;
  height: 10px;
  z-index: 1000;
  /* width: 60px; */
  position: relative;
  left: 33%;
  color: white;
  padding: 25px;
}
.link:hover{
  color: rgb(254, 255, 182);
}
a{
  /* width:fit-content; */
  height:fit-content;
  display: block;
  z-index: 1000;
  /* width: 60px; */
  position: relative;
  left: 38%;
  color: white;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
}
a:hover{
  color: darkslategray;
  background-color: rgb(255, 243, 174);
  border-radius: 5px;
}
a.backtotop{
  position: fixed;
  left: 1170px;
  height: 20px;
  width: fit-content;
  /* background-color: red; */
  top: 91vh;
  cursor: pointer;
  font-size: 17px;
}
/* .backtotop{

} */
.backtotop:hover{
  color:rgb(255, 243, 174);
}
#about{
  margin-top: 80px;
  border-radius: 20px;
  width: 600px;
  height: 730px;
  background-color: black;
  opacity: 60%;
  letter-spacing: .5px;
}

#about:hover{
  opacity: 85%;
}
#exp{
  margin-top: 30px;
  margin-right: 80px;
  float: right;
  border-radius: 20px;
  width: 600px;
  height: 730px;
  background-color: black;
  letter-spacing: .5px;
  
}
.exp{
  overflow-x:hidden;
  overflow-y: auto;
}
.exp-text{
  padding: 10px;
  margin: 10px;
}
.about-text{
  padding: 10px;
  margin: 10px;
}
.gif{
  float: left;
}
.avatar{
  float: right;
  margin-top: 70px;
  opacity: 100%;
}

@media (max-width: 1000px) {
  #wrapper {
    margin-left:auto;
    margin-right:auto;
    width:800px;
  }
  .link{
    left: 28%;
  }

  .grid {
    height: 544.5px;
  }
}

@media (max-width: 800px) {
  #wrapper {
    margin-left:auto;
    margin-right:auto;
    width:500px;
  }
  a{
    left: 20%;
  }

  .grid {
    height: 544.5px;
  }
}